//Media Queries
$tb: 1024px;
$sp: 768px;
$bp_S: 420px;
$color_blue: #2077d2;

@mixin tb {
    @media screen and (max-width: ($tb) ) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp) ) {
        @content;
    }
}

@mixin bp_S {
    @media screen and (max-width: ($bp_S) ) {
        @content;
    }
}

